[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyspark = "*"
keras = "*"
py4j = "*"
h5py = "*"
sparkdl = "*"
pillow = "*"
tensorframes = "*"
pandas = "*"
kafka-python = "*"
tensorflowonspark = "*"
jieba = "*"
python-resize-image = "*"
opencv-python = "*"
scikit-learn = "*"
matplotlib = "*"
tensorflow = "==1.15.0"
requests = "*"
joblib = "*"
django = "==2.2.28"

[requires]
python_version = "3.7"
